/******************************* ID's **************************************/
#title {
  background-color: #ff4c68;
}

/******************************* CLASSES ***********************************/


/******************************* ELEMENTS **********************************/
h1 {
  font-family: Montserrat;
  Size: 3rem;
  line-height: 1.5;
}
